<c-row ngPreserveWhitespaces>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header>
              <strong>Formulario de Funcionarios</strong>
            </c-card-header>
            <c-card-body>
                <form cForm>
                  <div class="mb-3">
                    <label cLabel for="nombre">Nombre</label>
                    <input cFormControl
                           id="nombre"
                           placeholder="Ingrese el Nombre"
                           [(ngModel)] = "funcionarioModelo.nombre"
                           type="text"
                           name="nombre"
                    />
                  </div>
                  <div class="mb-3">
                    <label cLabel for="apellido">Apellido</label>
                    <input cFormControl
                           id="apellido"
                           placeholder="Ingrese el apellido"
                           type="text"
                           name="apellido"
                           [(ngModel)] = "funcionarioModelo.apellido"
                    />
                  </div> 
                  <div class="mb-3">
                    <label cLabel for="carnet_identidad">Carnet_Identidad</label>
                    <input cFormControl
                           id="carnet_identidad"
                           placeholder="Ingrese el carnet_identidad"
                           type="number"
                           name="carnet_identidad"
                           [(ngModel)] = "funcionarioModelo.carnet_identidad"
                    />
                  </div> 
                  <div class="mb-3">
                    <label cLabel for="zona">Zona</label>
                    <input cFormControl
                           id="zona"
                           placeholder="Ingrese la zona"
                           type="text"
                           name="zona"
                           [(ngModel)] = "funcionarioModelo.zona"
                    />
                  </div> 
                  <div class="mb-3">
                    <label cLabel for="cargo">Cargo</label>
                    <input cFormControl
                           id="cargo"
                           placeholder="Ingrese el cargo"
                           type="text"
                           name="cargo"
                           [(ngModel)] = "funcionarioModelo.cargo"
                    />
                  </div> 
                  <div class="mb-3">
                    <label cLabel for="haber">Haber</label>
                    <input cFormControl
                           id="haber"
                           placeholder="Ingrese el haber"
                           type="number"
                           name="haber"
                           [(ngModel)] = "funcionarioModelo.haber"
                    />
                  </div>
                  <div class="mb-3">
                    <label cLabel for="Secretaria">Secretaria</label>
                    <input cFormControl
                           id="Secretaria"
                           placeholder="Ingrese la Secretaria"
                           type="text"
                           name="Secretaria"
                           [(ngModel)] = "funcionarioModelo.Secretaria"
                    />
                  </div> 
                  <div class="mb-3">
                    <label cLabel for="documentos">Documentos</label>
                    <input cFormControl
                           id="documentos"
                           placeholder="Ingrese los documentos"
                           type="text"
                           name="documentos"
                           [(ngModel)] = "funcionarioModelo.documentos"
                    />
                  </div>
                  <div class="mb-3">
                    <label cLabel for="usuario">Usuario</label>
                    <input cFormControl
                           id="usuario"
                           type="text"
                           name="usuario"
                           [(ngModel)] = "funcionarioModelo.usuario"
                    />
                </div>
                  <button (click) = "guardarFuncionario()" cButton class="me-1" color="primary" type="submit">
                    Guardar
                  </button>
                </form>
            </c-card-body>
          </c-card>
    </c-col>
    <c-col xs="12">
        <table cTable>
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Cargo</th>
              <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
              @for ( funcionario of listaFuncionarios; track funcionario; ) {
                <tr>
                  <th scope="row">1</th>
                  <td>{{funcionario.nombre}}</td>
                  <td>{{funcionario.apellido}}</td>
                  <td>{{funcionario.cargo}}</td>
                  <td>
                    <button cButton color="warning" variant="outline"(click)="verFuncionario(funcionario)">Editar</button> 
                    <button (click)="eliminarFuncionario(funcionario)" cButton color="danger" variant="outline">Eliminar</button></td>
                </tr>
              }

            </tbody>
          </table>
    </c-col>
</c-row>